
{{>layout/header}}


<button class="btn btn-success" onclick="location.href='/user/mypage'">측정현황보기</button>
<button class="btn btn-success" onclick="location.href='/user/updatePage'">정보수정</button>
<button class="btn btn-success" onclick="location.href='/auth/logout'">로그아웃</button>

<br>
<!--<button type="button" value = "{{sign}}" id = "modal" onclick="vibrate()" > 진동 시작 </button> <br />-->
<!--<button type="button" onclick="stop()" > 진동 중지 </button>-->




<div style= "padding: 300px">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal" style="font-size : 50px">아두이노 시작 및 종료</h1>
        <div id="posts_list">
            <div class="container col-md-6">
                <div class="col-md-12">
                    <br>
                    <!-- 목록 출력 영역 -->
                    <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th>사용자</th>
                            <th>아두이노 상태</th>
                            <th>SIGN</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr>
                                <td>{{username}}</td>
                                <td>
                                    {{#status}}
                                        아두이노 : 켜짐
                                    {{/status}}
                                    {{^status}}
                                        아두이노 : 꺼짐
                                    {{/status}}
                                </td>
                                <td> {{sign}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div id="posts_list">
        <div class="container col-md-5">
            {{#status}}
                <div>
                    <button class="btn btn-success" style="width : 300px; height: 150px " disabled = 'disabled' id = "startBtn" onclick="javascript:btn('측정시작')">측정시작</button>
                </div>
                <br>
                <div>
                    <button class="btn btn-danger" style="width : 300px; height: 150px "  id = "endBtn" onclick="javascript:btn('측정종료')">측정종료</button>
                </div>
            {{/status}}
            {{^status}}
                <div>
                    <button class="btn btn-success" style="width : 300px; height: 150px "  id = "startBtn" onclick="javascript:btn('측정시작')">측정시작</button>
                </div>
                <br>
                <div>
                    <button class="btn btn-danger" style="width : 300px; height: 150px "  disabled = 'disabled' sid = "endBtn" onclick="javascript:btn('측정종료')">측정종료</button>
                </div>
            {{/status}}


        </div>
    </div>


    <p class="mt-5 mb-3 text-muted text-center">© 2022. sleepapneaIOT. All rights reserved.</p>
</div>
<script>
    window.onload = function (){
        navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate; // 작동되는 진동 메소드가 다르므로 통합
        if (navigator.vibrate) {
            navigator.vibrate(20000); // 진동을 울리게 한다. 1000ms = 1s 이다.
        } else {
            alert("진동을 지원하지 않는 기종 입니다.");
        }
    }
    function btn(sample){
        alert(sample);
        if(sample == "측정시작") {
            location.href = '/auth/statuson'
        }
        else {
            location.href = '/auth/statusoff'
        }
    }
    navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate; // 작동되는 진동 메소드가 다르므로 통합
    function vibrate() {
        navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate; // 작동되는 진동 메소드가 다르므로 통합
        if (navigator.vibrate) {
                navigator.vibrate(20000); // 진동을 울리게 한다. 1000ms = 1s 이다.
        } else {
            alert("진동을 지원하지 않는 기종 입니다.");
        }
    }

    function vibratearray() {
        if (navigator.vibrate) {
            navigator.vibrate([100,30,100,30,100,200,200,30,200,30,200,200,100,30,100,30,100]); // 배열로도 가능하다. 진동은 SOS 모스부호
        } else {
            alert("진동을 지원하지 않는 기종 입니다.");
        }
    }
    function stop() {
        navigator.vibrate(0); // (0) 대신에 ([]) 을 넣어도 동일하다.
    }


</script>


{{>layout/footer}}