{{>layout/header}}


<button class="btn btn-success" onclick="location.href='/'">뒤로가기</button>
<button class="btn btn-success" onclick="location.href='/auth/logout'">로그아웃</button>

<div style= "padding: 300px">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">{{username}}님의 측정 기록</h1>
    </div>

    <div id="posts_list">
        <div class="container col-md-6">
            <div class="col-md-12">
                <br>
                <!-- 목록 출력 영역 -->
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>번호</th>
                        <th>측정시작시각</th>
                        <th>측정종료시각</th>
                        <th>수면무호흡횟수</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {{#infos}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{statusStartAt}}</td>
                            <td>{{statusEndAt}}</td>
                            <td>{{count}}</td>
                        </tr>
                    {{/infos}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <p class="mt-5 mb-3 text-muted text-center">© 2022. sleepapneaIOT. All rights reserved.</p>
</div>

{{>layout/footer}}